* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

del {
    text-decoration: line-through;
}

body {
    font-family: "Gordita-medium";
    font-size: 17px;
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}

input,
textarea,
select {
    font-family: "Gordita-medium";
    font-weight: 500;
}

a {
    color: #000;
}

.thumb {
    display: block;
}

.thumb img {
    display: block;
    width: 100%;
}

p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "Gordita-medium";
    font-weight: 500;
    color: #000;
}

.hidden {
    display: none;
}

br.clear {
    clear: both;
    line-height: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
}

@font-face {
    font-family: "Gordita-Medium";
    src: url("../fonts/Gordita-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gordita-Bold";
    src: url("../fonts/Gordita-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gordita-Light";
    src: url("../fonts/Gordita-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gordita-Thin";
    src: url("../fonts/Gordita-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gordita-Regular";
    src: url("../fonts/Gordita-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gordita-Ultra";
    src: url("../fonts/Gordita-Ultra.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
#home {
    background-image: url(../images/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#home header {
}

#home header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#home header .content h1 {
    font-size: 30px;
    font-family: "Gordita-Medium";
}

#home header .content .middle {
}

#home header .content .middle ul {
    display: flex;
    align-items: center;
}

#home header .content .middle ul li {
    margin-right: 30px;
}

#home header .content .middle ul li:last-child {
    margin-right: 0;
}
#home header .content .middle ul li a {
    display: block;
    font-size: 18px;
}

#home header .content .right {
}

#home header .content .right ul {
    display: flex;
    align-items: center;
}

#home header .content .right ul li {
    margin-right: 20px;
}

#home header .content .right ul li:last-child {
    margin-right: 0;
}

#home header .content .right ul li a {
    display: block;
    width: 40px;
}

#home header .content .right ul li a img {
    display: block;
    width: 100%;
}

#home header .sportlight {
    padding: 100px 0;
    background-image: url(../images/Landing-Page-Img.png);
    background-repeat: no-repeat;
    background-size: 37%;
    background-position: 760px 105px;
}

#home header .sportlight ul {
    display: flex;
    align-items: center;
}

#home header .sportlight ul li {
    font-size: 28px;
    font-family: "Gordita-bold";
    color: #4895a5;
    margin-right: 20px;
}

#home header .sportlight ul li:last-child {
    margin-right: 0;
}

#home header .sportlight ul li div.logo_image {
    width: 70px;
}

#home header .sportlight ul li div.logo_image img {
    display: block;
    width: 100%;
}

#home header .sportlight h1 {
    font-size: 75px;
}

#home header .sportlight h1 b {
    font-size: 85px;
    color: #4895a5;
}

#home header .sportlight p {
    font-size: 17px;
    max-width: 470px;
    margin: 25px 0;
}

#home header .sportlight .button {
    font-size: 18px;
    padding: 17px 32px;
    background-color: #ea542f;
    display: inline-block;
    color: #f3cfc7;
    border-radius: 5px;
    font-family: "Gordita-Regular";
    font-weight: 600;
}

#home header .sportlight .servise {
    display: flex;
    justify-content: flex-f;
    margin-top: 40px;
}

#home header .sportlight .servise .material {
    width: 25%;
}

#home header .sportlight .servise .material h3 {
    font-size: 20px;
    font-family: "Gordita-Bold";
    margin-bottom: 10px;
}

#home header .sportlight .servise .material p {
    margin: 0;
    color: #7c7c7c;
    font-size: 12px;
    max-width: 260px;
}

#home header .sportlight .servise .care {
    width: 25%;
}

#home header .sportlight .servise .care h3 {
    font-size: 20px;
    font-family: "Gordita-Bold";
    margin-bottom: 15px;
}

#home header .sportlight .servise .care p {
    margin: 0;
    color: #7c7c7c;
    font-size: 12px;
    max-width: 260px;
}

#main {
}
#main .item {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}
#main .item .image_box {
    width: 85%;
    display: flex;
    justify-content: space-between;
}
#main .item .image_box .main_image {
    margin-right: 30px;
    width: 75%;
}
#main .item .image_box .main_image img {
    display: block;
    width: 100%;
    border-radius: 10px;
}
#main .item .image_box ul {
}
#main .item .image_box ul li {
    width: 100%;
}
#main .item .image_box ul li.therd_image {
    margin-top: 30px;
}
#main .item .image_box ul li img {
    display: block;
    width: 100%;
    border-radius: 10px;
}
#main .item .content {
    width: 80%;
    padding: 75px;
}
#main .item .content h3 {
    font-size: 50px;
}
#main .item .content p {
    font-size: 18px;
    color: #7c7c7c;
    margin: 30px 0;
}
#main .item .content a.button {
    font-size: 18px;
    padding: 17px 32px;
    background-color: #ea542f;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    font-family: "Gordita-Regular";
    font-weight: 600;
}
#main .item .content_box {
    width: 40%;
}

#main .item .content_box h3 {
    font-size: 50px;
}

#main .item .content_box p {
    font-size: 18px;
    color: #7c7c7c;
    margin: 50px 0;
}
#main .item .content_box a.button {
    font-size: 18px;
    padding: 17px 32px;
    background-color: #ea542f;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    font-family: "Gordita-Regular";
    font-weight: 600;
}
#main .item .image {
    width: 49%;
}

#main .item .image img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

#services {
    padding: 100px 0;
    background-color: #fafafa;
    text-align: center;
}

#services .top {
    text-align: center;
}

#services .top .logo {
    width: 75px;
    margin: 0 auto 10px;
}

#services .top .logo img {
    width: 100%;
    display: block;
}

#services .top h3 {
    font-size: 54px;
}

#services .top p {
    font-size: 19px;
    color: #7c7c7c;
    max-width: 820px;
    margin: 30px auto;
}

#services .bottom {
}

#services .bottom ul {
    display: flex;
    justify-content: space-evenly;
}

#services .bottom ul li {
    width: 21%;
    text-align: center;
    background-color: #fff;
    padding: 40px 0;
}

#services .bottom ul li .image {
    width: 60px;
    margin: 0 auto;
}

#services .bottom ul li .image img {
    width: 100%;
    display: block;
}

#services .bottom ul li h5 {
    font-size: 20px;
    font-family: "Gordita-bold";
    margin: 15px 0;
}

#services .bottom ul li p {
    font-size: 16px;
    color: #7c7c7c;
}

#services .button {
    font-size: 18px;
    padding: 17px 32px;
    background-color: #ea542f;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    font-family: "Gordita-Regular";
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}

#partners {
    padding: 150px 0;
}
#partners .partners_brand_area {
    display: flex;
    justify-content: space-between;
}

#partners .partners_brand_area .left {
    width: 50%;
}

#partners .partners_brand_area .left h3 {
    font-size: 54px;
    max-width: 360px;
}

#partners .partners_brand_area .left p {
    font-size: 19px;
    color: #7c7c7c;
    max-width: 500px;
    margin: 35px 0;
}

#partners .partners_brand_area .left a.button {
    font-size: 18px;
    padding: 17px 32px;
    background-color: #ea542f;
    display: inline-block;
    color: #fbd4cd;
    border-radius: 5px;
    font-family: "Gordita-Regular";
    font-weight: 600;
}

#partners .partners_brand_area .right {
    width: 50%;
}

#partners .partners_brand_area .right ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#partners .partners_brand_area .right ul li {
    margin: 0 200px 30px;
}

#partners .partners_brand_area .right ul li a {
    display: block;
    width: 80%;
    border: none;
}

#partners .partners_brand_area .right ul li a img {
    display: inline-block;
    width: 100%;
    border-bottom: 3px outset rgb(0 0 0 / 10%);
}

#partners .partners_brand_area .right ul li:nth-child(2) {
    margin: 0px 0 30px 60px;
}

#partners .partners_brand_area .right ul li:nth-child(3) {
    margin: 0 60px 30px 0;
}

#partners .partners_brand_area .right ul li:nth-child(4) {
    margin: 10px 0 0 0;
}

#partners .partners_brand_area .right ul li:nth-child(5) {
    margin: 10px auto 0;
}

#partners .partners_brand_area .right ul li:nth-child(6) {
    margin: 10px 0 0 0;
}

#partners .partners_brand_area .right ul li:nth-child(7) {
    margin: 30px 0 0 60px;
}

#partners .partners_brand_area .right ul li:nth-child(8) {
    margin: 30px 60px 0 0;
}

#partners .partners_brand_area .right ul li:nth-child(9) {
    margin: 30px 200px 0;
}
